body {
  background-color: green;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 17px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  border: 2px solid orange;
  border-radius: 5px;
  background-color: #fff4e6;
}
.box{
  grid-column-start: 1; 
  grid-column-end: 4; 
}
.box_a, .box_b{
  display: flex;
  grid-template-rows: 1fr;
  grid-column-start: 1; 
  grid-column-end: 4; 
  justify-content: center;
  align-content: center;
}

.inputMin{
  width: 50px;
}